Repository transcom/circleci-docker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

.github/CODEOWNERS:

# Added platform team as code owners so that PRs do not get missed
Dockerfile @transcom/truss-platform-team @transcom/truss-is3 @transcom/truss-sr-eng
/milmove-atlantis @transcom/truss-platform-team
# For tf, we maintain one old version plus the current
/milmove-infra-tf112 @transcom/truss-platform-team
/milmove-infra-tf132 @transcom/truss-platform-team

Update tfsec to new version
  milmove-infra-tf132/Dockerfile
Owners: @transcom/truss-platform-team

Revert "[ spike, MB-14548, MB-13732 ] Refactor the release script"
  .circleci/config.yml
  release
Owners: none

Upgraded to go 1.20.1
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

Revert "Bump cimg/python from 3.10.7-node to 3.11.2-node"
  Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

add check tls script
  scripts/check-tls-pair
Owners: none

add copy script to docker file
  Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

updated go version and checksum
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

updated go version and checksum (#401)
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

update to latest atlantis image
  milmove-atlantis/Dockerfile
Owners: @transcom/truss-platform-team

chore: update go to 1.20.5
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

Pin postgreql-client to 14.7
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

update default tf version to 1.5.0
  milmove-atlantis/Dockerfile
Owners: @transcom/truss-platform-team

Update tfsec to new version
  milmove-infra-tf132/Dockerfile
Owners: @transcom/truss-platform-team

Pin to postgresql 12.13
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

Update golang to 1.20.6
  milmove-app/Dockerfile
Owners: @transcom/truss-platform-team, @transcom/truss-is3, @transcom/truss-sr-eng

Update tfsec to new version
  milmove-infra-tf132/Dockerfile
Owners: @transcom/truss-platform-team

Update tfsec to new version
  milmove-infra-tf132/Dockerfile
Owners: @transcom/truss-platform-team
